%a{:href => product_path(product), :class => "thumbnail"}
  = product.pics.size >0 ? image_tag(product.pics.first.photo.thumbnail.url) : image_tag("/assets/default.jpg")
  .product-details.caption
    %h4
      = product.name
      %span.right.favor= t("views.favor", favor: product.favor_count)
    - if user_signed_in?
      %h6.label.label-warning 
        状态
        = t("state.#{product.status}") 