.hero-unit
  %h1
    3d图纸库
  %p 分享3d圖紙和打印模型，爲設計師提供一站式服務
  %p= link_to "Learn more",nil ,:class => "btn btn-primary btn-large",:style => "color:white"
  

.row-fluid
  %ul.thumbnails
    - @products.each do |product|      
      %li.product-box.span4
        %a{:href => product_path(product), :class => "thumbnail"}
          = product.pics.size >0 ? image_tag(product.pics.first.photo.thumbnail.url) : image_tag("/assets/default.jpg")
          .product-details.caption
            %h3
              = product.name
              %span.right.favor= t(:favor, favor: product.favor_count, scope: :views)
            %p
              %p.product-designer
                = t(:designer, designer_name: product.designer, scope: :views) 
              -#%p.price
              -#  = t(:price, price: product.price, scope: :views)
  = will_paginate @products