.hero-unit
  = image_tag "3dlogo.png", align: "left"
  %h1
    3d图纸库
  %p  
  %p 分享3d图纸和打印模型，为设计师提供一站式服务
  -#%p= link_to "Learn more", nil, :class => "btn btn-primary btn-large",:style => "color:white"
  
.row-fluid
  - @categorys.each do |category|
    - if category.products.count > 0
      %h3.category
        = link_to t("category.#{category.name}"), explorer_path(category)
      %ul.thumbnails
        - category.published_products[0..2].each do |product|
          %li.product-box.span4
            = render partial: '/share/product', object: product

  = will_paginate @products