= simple_nested_form_for(@product, :html => {:class => 'form-horizontal',:multipart => true }) do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        = t("views.can_not_save")
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name, placeholder: "product name...", required: "required"
  = f.input :designer, placeholder: "designer name"
  - @categories = []
  - Category.all.each do |item|
    - @categories << [t("category.#{item.name}"),item.id.to_s]
  = f.input :category_id, collection: @categories
  = f.input :tag_list, placeholder: "tag1,tag2,tag3...", input_html: { id: "tags" }
  
  %ol
    = f.simple_fields_for :model3ds do |m|
      %li= render 'model3d_form', f: m
  %p= f.link_to_add t("views.Upload ModelFile"), :model3ds, class: "btn btn-primary btn-smaller"
  
  %ol
    = f.simple_fields_for :pics do |p|
      %li= render 'pic_form', f: p
  %p= f.link_to_add t("views.add_pictures"), :pics, class: "btn btn-primary btn-smaller"
  %hr
  .actions
    = f.submit class: "btn btn-primary"