=nested_form_for @product, :html=>{:multipart => true }  do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        = t(:can_not_save, scope: :views)
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg
  .field
    .item-label= f.label :name
    .item-column= f.text_field :name, :required => "required", :placeholder => "model name..."
  .field
    .item-label= f.label :designer
    .item-column= f.text_field :designer
  -#.field
  -#  .item-label= f.label :price
  -#  .item-column= f.text_field :price
  .field
    .item-label= f.label :category
    .item-column= f.select :category_id, Category.all.collect{|c| [t(c.name, scope: :category), c.id]}
  .field
    .item-label
      = f.label :model3d, t(:model3d, scope: [:activerecord, :attributes, :product])+"(*.stl)"
    -unless @product.model3d.nil? || @product.new_record?
      %span.label
        = @product.model3d.url.split('/').last
    -else
      .item-column
        = f.file_field :model3d, :required => "required", :placeholder => "demo.stl", :title => "demo.stl"
  .field
    .item-label= f.label :pics, t(:pics, scope: [:activerecord, :attributes, :product])+"(png, jpg, gif)"
    //= image_tag @product.photo.thumb.url unless @product.photo.nil?
    //.item-column= f.file_field :photo
    = render :partial => "pic_form", :locals => {:f => f}  
  %hr
  .actions
    = f.submit class: "btn btn-primary"