%h1
  = t(:product_title, scope: :views)
%p.tabbable
  %ul.nav.nav-tabs
    %li{:class => @tab2_status}
      %a{:href => favor_products_path}
        = t(:my_favor, scope: :views)
    %li{:class => @tab3_status}
      %a{:href => uploaded_products_path}
        = t(:my_upload, scope: :views)

   
.row-fluid
  %ul.thumbnails
    - @products.each do |product|
      %li.product-box.span3
        = render partial: '/share/product', object: product
        - if product.owner?(current_user)      
          = link_to 'Edit', edit_product_path(product), class: 'btn'
          = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn'
= will_paginate @products        
        

