%h1 Manage products

.tabbable
  %ul.nav.nav-tabs
    %li{:class => @tab1_status}
      %a{:href => purchase_products_path, :data => {:toggle => "tab"}}
        已購模型
    %li{:class => @tab2_status}
      %a{:href => favor_products_path, :data => {:toggle => "tab"}}
        我的最愛
    %li{:class => @tab3_status}
      %a{:href => uploaded_products_path, :data => {:toggle => "tab"}}
        我的上傳
  .tab-content
    .tab-pane.active#tab1

    .tab-pane#tab2

    .tab-pane#tab3  


.row-fluid
  %ul.thumbnails
    - @products.each do |product|
      %li.thumbnail.span3
        %img{src: product.photo.thumbnail.url}
        %h3= product.name
        %p= product.designer
        %p= product.price
        %p
          = button_tag(link_to "Show", product_path(product))
          = button_tag(link_to 'Edit', edit_product_path(product))
          = button_tag(link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' })
        
        
= link_to 'New Product', new_product_path if request.url.split("/").last == 'uploaded'
