.container-fluid
  .shop-info-text
    
    %h1
      = h_product_nav()
      » 
      = @product.name
    %span.label.label-important
      = t(:price, price: @product.price, scope: :views)
    %span.label.label-info
      = t(:designer, designer_name: @product.designer, scope: :views)
    %span.label.label-info
      = t(:favor, favor: @product.favor_count, scope: :views)
    %span.label.label-info
      = t(:comment, comment: @product.comments.count, scope: :views)
      
      
  .row-fluid
    .span9
      .thumbnail
        -#%a{:href => @product.pics.first.nurl, :targe => "_blank"}
          -#= image_tag @product.pics.first.normal.url
      %p= @product.desc
      %p= @product.size unless @product.size.blank?
      %h1.comments
        = t(:comments, scope: :views)
      .comments-container
        %p
          = render "/comments/leave_comment"
        %hr
        - unless @product.comments.empty?
          = render partial: "/comments/comment", collection: @product.comments
    .span3        
      %p{:id => "favor"}
        .star
        -if current_user and 
          -if @product.check_favor(current_user) 
            = button_to t(:add_to_favor, scope: :views), add_favor_product_path, |
            :method => :put, :class => "btn btn-warning"
          -else
            = button_to t(:remove_favor, scope: :views), cancel_favor_product_path, |
            :method => :put, :class => "btn btn-danger"
      %p 
        %a.btn{:href => @product.model3d.url }
          = t(:download_model, scope: :views)
  

  
  - if current_user and @product.owner?(current_user)      
    = link_to 'Edit', edit_product_path(@product) 
    |
    = link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' }

