%div{:class => "navbar navbar-inverse navbar-static-top"}
  .navbar-inner
    .container
      = link_to "3DTZK", root_path, :class => "brand"
      %ul{:class => "nav"}
        %li{class: get_menu_status('Create')}
          =link_to t(:create, scope: :menu), new_product_path
        %li{class: get_menu_status('Product')}
          =    link_to t(:my_product, scope: :menu), favor_products_path
        - if user_signed_in?
          %li{class: get_menu_status('Logout')}
            =  link_to t(:logout, scope: :menu), destroy_user_session_path, :method => :delete
        - else
          %li{class: get_menu_status('Register')}
            =  link_to t(:register, scope: :menu), new_user_registration_path
          %li{class: get_menu_status('Login')}
            =  link_to t(:login, scope: :menu), new_user_session_path
  .right
    - if session[:allow_show] == "true"
      = link_to "中文版", {:controller => controller.controller_name, :action => controller.action_name, :locale => "zh-CN"}, :class => @cn_status
      |             
      = link_to "English", {:controller => controller.controller_name, :action => controller.action_name, :locale => "en"}, :class => @en_status
  
#alert-bar.navbar.navbar-fixed-top
  - unless notice.nil?      
    .alert.alert-block= notice
  -unless alert.nil?
    .alert.alert-error= alert
