%div{:class => "navbar navbar-inverse navbar-static-top"}
  .navbar-inner
    .container
      = link_to "3DTZK", root_path, :class => "brand"
      %ul{:class => "nav"}
        
        %li=    link_to "Products", purchase_products_path
        - if user_signed_in?
          %li=  link_to('Logout', destroy_user_session_path, :method => :delete)
        - else
          %li=  link_to('Register', new_user_registration_path)
          %li=  link_to('Login', new_user_session_path)

#alert-bar.navbar.navbar-fixed-bottom
  - unless notice.nil?      
    .alert.alert-block= notice 
  -unless alert.nil?
    .alert.alert-error= alert 
