!!! 5
%html
  %head
    %title 3d图纸库-3d打印机图纸下载,在线3d打印模型设计平台
    %meta{ name: "viewport",    content: "width=device-width, initial-scale=1.0" }
    %meta{ name: "keywords",    content: get_keywords }
    %meta{ name: "description", content: get_description }
        
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 
  
  %body
    = render "layouts/header"
    .container#content= yield
    